<!DOCTYPE html>
<html>
    <head>
        <title>Management of Trello/FB sync</title>
    </head>
    <body>
        <div id="content" class="well">
            {% block body %}

            {% endblock %}
        </div>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" >

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    </body>
</html>
