{% extends 'base.html' %}

{% block body %}

    <h1>Trello-Fogbugz workon sync</h1>

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    {% if created %}
        <p class="alert alert-success">Successfully created</p>
    {% endif %}

    <form name="new" action="" method="post">

        <label for="username">Username:</label>
        <p>The name you want to associate with this account.</p>
        <input placeholder="Zaphod Beeblebrox" class="form-control" type="text" name="username"><br>

        <label for="fogbugz_token">Fogbugz token:</label>
        <p>Replace &lt;EMAIL&gt; and &lt;PASSWORD&gt; with the respective values, and execute the command on a terminal.</p>
        <p class='alert alert-info'>Please note: your password can't contain the characters ' or &.</p>

        <textarea class="form-control">curl -s 'https://case.paylogic.eu/fogbugz/api.asp?cmd=logon&email=&lt;EMAIL&gt;&password=&lt;PASSWORD&gt;' | sed 's/.*\[\([a-z0-9]*\)\].*/\1\n/'</textarea>
        <p>(Don't worry, we won't send it to the server)</p>

        <p>and paste the response below.</p>
        <input placeholder="h2g2zb42etktea837haseou39923hk"  class="form-control" type="text" name="fogbugz_token"><br>

        <label for="trello_token">Trello token:</label>
        <p>While logged in to Trello, go
        <a target="_blank" href='https://trello.com/1/authorize?key=7eab1e3ace4171b6a45321352035e504&name=Trello+FB+Sync&expiration=never&response_type=token&scope=read'>here</a>
        to get your Trello Token, and paste it below. It will expire after 1 day, and will only have read-access. If you want, you can revoke your token after submitting the form.</p>
        <input placeholder="c0ffee10158c46c6bda758deadbeef4eb5331fde2eee44e581ae45aadecafbad" class="form-control" type="text" name="trello_token">
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>
{% endblock %}
